<div class="container-fluid p-5 mx-auto bg-white d-flex">
    <div class="imagen">
        <img src="../assets/img/2.jpg" class="rounded-circle-3" alt="no sirve">
    </div>

    <div class="info">
        <h1 class="titulo">
            <strong>The Second Heading</strong><strong class="text-muted"> Is pretty Cool Too</strong>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet, tempora voluptatem quibusdam soluta eligendi tenetur consequuntur atque! Dignissimos, dolorum iure? Exercitationem sapiente quidem alias, totam architecto pariatur omnis suscipit!</p>
    </div>
</div>